<nav id="navbar">
    <ul id="nav-list">
        <li class="nav-link"><a href="#sobre_mim">Sobre</a></li>
        <li class="nav-link"><a href="#minhas_skills">Skills</a></li>
        <li class="nav-link"><a href="#contate_me">Contato</a></li>
        <li class="nav-link"><a href="#projetos">Projetos</a></li>
    </ul>
    <div id="menu-hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
</nav>