<main id="particles-js">
    <div id="container">
        <img src="img/eu.jpg" alt="Minha_foto" id="akira">
        <div id="descricao">
            <h1 id="meu_nome">Olá, eu sou Nicolas Akira</h1>
            <p id="stacks">Frontend Developer</p>
            <button id="meucv">
                <ion-icon name="arrow-down-outline"></ion-icon>
                Baixar CV
            </button>
        </div>
    </div>
</main>

{{!-- sobre mim --}}
<section id="sobre_mim">
    <div id="sobre">
        <img src="img/guy.svg" id="guy_svg" alt="guy_working" data-anime="left">
        <div id="sobre_desc" data-anime="right">
            <h1>Sobre mim</h1>
            <p>Meu nome é Nicolas Akira, tenho 19 anos, sou apaixonado por tecnologia e estudo programção há 3 anos. Atualmente estou cursando Análise e desenvolviemnto de sistemas na faculdade FMU!</p>
        </div>
    </div>

    <div id="goals">
        <img src="img/goals.svg" id="guy_goals" alt="guy_struggling" data-anime="right">
        <div id="goals_desc" data-anime="left">
            <h1>Meus objetivos</h1>
            <p>Atualmente tenho como objetivo me tornar um programador. Almejo ser um programador full stack, com domínio nas principais linguagens e bibliotecas do mercado!</p>
        </div>
    </div>

</section>

{{!-- minhas habilidades --}}
<section id="minhas_skills">

    <div id="habilidades">
        <h1 data-anime="bottom">Conheça minhas habilidades</h1>
        <p data-anime="bottom">Sempre busco me atualizar e buscar mais conhecimento nas tecnologias do mercado, visando sempre ser melhor.</p>
    </div>

    <div id="skill_box">
        
        <div class="tecnologia" data-anime="left">
            <div class="titulo">
                <h1>HTML</h1>
                <ion-icon name="logo-html5"></ion-icon>
            </div>
            <p>linguagem de marcação</p>
        </div>

        <div class="tecnologia" data-anime="right">
            <div class="titulo">
                <h1>CSS</h1>
                <ion-icon name="logo-css3"></ion-icon>
            </div>
            <p>linguagem de estilização</p>
        </div>

        <div class="tecnologia" data-anime="left">
            <div class="titulo">
                <h1 id="javascript">JavaScript</h1>
                <ion-icon name="logo-javascript"></ion-icon>
            </div>
            <p>linguagem de programação web</p>
        </div>

        <div class="tecnologia" data-anime="right">
            <div class="titulo">
                <h1>NodeJS</h1>
                <ion-icon name="logo-nodejs"></ion-icon>
            </div>
            <p>linguagem de programação</p>
        </div>

        <div class="tecnologia" data-anime="left">
            <div class="titulo">
                <h1>GitHub</h1>
                <ion-icon name="logo-github"></ion-icon>
            </div>
            <p>Versionamento de código</p>
        </div>

        <div class="tecnologia" data-anime="right">
            <div class="titulo">
                <h1>Photoshop</h1>
                <img src="img/photoshop.svg" alt="ps-icon" id="ps_icone">
            </div>
            <p>Editor de imagens</p>
        </div>

    </div>
</section>

{{!-- contato --}}
<section id="contate_me">

    <div id="lets_talk" data-anime="bottom">
        <h1>Vamos conversar!</h1>
        <p>Consegui chamar sua atenção? Entre em contato comigo, mande um email ou uma mensagem em alguma rede social abaixo!</p>
        
    </div>

    <div id="meios_contato">

        <div class="contatos" data-anime="left">
            <ion-icon name="mail-outline" class="icone_contato"></ion-icon>
            <h2>E-mail</h2>
            <p>Me mande um email!</p>
            <a href="mailto:nicolas.morimoto@gmail.com">nicolas.morimoto@gmail.com</a>
        </div>

        <div class="contatos" data-anime="bottom">
            <ion-icon name="call-outline" class="icone_contato"></ion-icon>
            <h2>Telefone</h2>
            <p>Me ligue!</p>
            <a href="tel:11955599298">+55 11 955599298</a>
        </div>

        <div class="contatos" data-anime="right">
            <ion-icon name="logo-linkedin" class="icone_contato"></ion-icon>
            <h2>LinkedIn</h2>
            <p>Contate-me pelo LinkedIn</p>
            <a href="https://www.linkedin.com/in/nicolas-akira-morimoto-032b41235/">Meu perfil</a>
        </div>

    </div>

</section>

{{!-- projetos --}}
<section id="projetos">
    <h1 id="titulo_projetos" data-anime="bottom">Meus projetos</h1>

    <div id="cards">

        <div class="wrapper" data-anime="left">
            <img src="img/projeto1.png" alt="projeto1" class="wrapper_img">
            <div class="wrapper_desc">
                <h1>TCC (2021)</h1>
                <p>Trabalho de TCC da etec desenvolvido por mim e meu grupo.</p>
            </div>
        </div>

        <div class="wrapper" data-anime="right">
            <img src="img/projeto2.png" alt="projeto2" class="wrapper_img">
            <div class="wrapper_desc">
                <h1>Site pessoal</h1>
                <p>Meu site pessoal com intutio de mostrar um pouco do meu conhecimento.</p>
            </div>
        </div>

    </div>

</section>