/* cores do scrollbar */
::-webkit-scrollbar {
    width: .8rem;
}

body {
    text-transform: uppercase;
}

::-webkit-scrollbar-thumb {
    background: var(--roxoanalogo);
}
/* conteudo principal */
main {
    height: 100vh;
    background: var(--roxoprincipal);
}

img#akira {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 3px 10px var(--corpreta);
}

div#container {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    user-select: none;
}

div#descricao {
    color: var(--corbranca);
    font-size: 2.2rem;
}

div#descricao h1#meu_nome {
    width: 30rem;
    max-width: 100%;
}

div#descricao #stacks {
    font-size: 0.8em;
}

div#descricao #stacks::after, h1#meu_nome::after {
    content: '|';
    margin-left: .2rem;
    animation: 700ms blink infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

div#descricao #meucv {
    margin-top: 2rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    background-color: var(--corpreta);
    color: var(--corbranca);
    font-size: 1.2rem;
    border-radius: .5rem;
    transition: 300ms ease;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

ion-icon, img#ps_icone{
    font-size: 1.3rem;
    padding-right: .3rem;
    fill:#000;
}

div#descricao #meucv:hover {
    background-color: var(--corbranca);
    color: var(--corpreta);
}
/* sobre mim */
section#sobre_mim {
    margin: 10vh 0 20vh 0;
    display: flex;
    flex-direction: column;
}

section#sobre_mim #sobre #guy_svg{
    width: 20rem;
}
section#sobre_mim #sobre #sobre_desc, #goals #goals_desc {
    width: 30%;
}
section#sobre_mim #sobre #sobre_desc h1, #goals #goals_desc h1{
    font-size: 2rem;
    color:var(--roxoanalogo);
}

section#sobre_mim #sobre #sobre_desc p, #goals #goals_desc p {
    margin-top: 1rem;
    line-height: 1.6em;
}

section#sobre_mim, #sobre, #goals{
    display: flex;  
    width: 100%;
}

#goals {
    flex-direction: row-reverse;
}

section#sobre_mim div#sobre, #goals {
    align-items: center;
    justify-content: space-evenly;
}

/* tech stack */
section#minhas_skills{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 90vh;
    background: var(--roxoprincipal);
    padding-top: 10vh
}
section#minhas_skills div#habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    text-align: center;
    gap: .8rem;
}

section#minhas_skills div#habilidades h1{
    font-size: 2.2rem;
    color: var(--corbranca);
}

section#minhas_skills div#habilidades p {
    color: var(--corbranca);
    width: 20rem;
    font-size: 1.2rem;
}

section#minhas_skills div#skill_box, div.tecnologia, div.titulo{
    display: flex;
    justify-content: center;
    
}

section#minhas_skills div#skill_box {
    flex-wrap: wrap;
    gap: 2rem;
}

section#minhas_skills div#skill_box div.tecnologia {
    box-shadow: -5px 5px 2px var(--paragrafos);
    width: 40%;
    height: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    gap: .5rem;
    flex-direction: column;
    background-color:var(--corbranca);
}

section#minhas_skills div#skill_box div.tecnologia div.titulo{
    width: 100%;
    justify-content: space-between;
}
section#minhas_skills div#skill_box div.tecnologia div.titulo ion-icon {
    color: var(--icones);
    font-size: 2rem;
}

section#minhas_skills div#skill_box div.tecnologia h1{
    color: var(--roxoanalogo);
}

section#minhas_skills div#skill_box div.tecnologia p {
    color: var(--paragrafos);
}

/* animação */
[data-anime] {
    opacity: 0;
    transition: 1s ease;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* contato */
section#contate_me {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    gap: 6rem;
    padding-bottom: 8vh;
}

section#contate_me h1{
    font-size: 2.2rem;
    text-align: center;
}

section#contate_me #lets_talk {
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
}

div#meios_contato {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

section#contate_me h1 {
    color: var(--coranaloga2);
}

section#contate_me div#meios_contato h2{
    color: var(--roxoanalogo)
}

.icone_contato {
    font-size: 5rem;
    fill: var(--icones);
    color: var(--icones);
}
section#contate_me div#meios_contato .contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section#contate_me div#meios_contato .contatos p {
    color: var(--paragrafos);
}

section#contate_me div#meios_contato .contatos a {
    color: var(--roxoprincipal);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    animation:1s glow infinite alternate ;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0 transparent;
    }
    to {
        text-shadow: 0 0 .1vw var(--coranaloga2);
    }
}

/* projetos */
section#projetos {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--roxoprincipal);
}

section#projetos div#cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

section#projetos h1#titulo_projetos {
    margin-top: 3rem;
    font-size: 2.2rem;
    color: var(--corbranca);
}

section#projetos h1#titulo_projetos::after {
    content: '_';
    animation: blink 800ms infinite;
}

section#projetos .wrapper {
    height: fit-content;
    width: 30rem;
    background-color: var(--corbranca);
    border-radius: 2rem;
    transition: 300ms ease;
    border: 1px solid var(--corpreta);
}

section#projetos .wrapper .wrapper_img {
    width: 30rem;
    height: fit-content;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

section#projetos .wrapper:hover{
    box-shadow: 1px 15px 20px var(--corpreta);
}

section#projetos .wrapper .wrapper_desc {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* mobile */

@media (max-width: 999px) {
    div#descricao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    div#descricao h1#meu_nome {
        width: 100%;
        font-size: 2rem;
    }
    
    div#container {
        flex-direction: column;
    }

    div#container #akira {
        width: 20vh;
        height: 20vh;
    }

    section#sobre_mim #sobre, #goals {
        flex-direction: column;
        
    }

    section#sobre_mim #sobre #sobre_desc, #goals #goals_desc {
        width: 50%;
        text-align: center;
    }

    section#sobre_mim {
        gap: 10rem;
    }

    section#sobre_mim #sobre img#guy_svg, #goals img#guy_goals {
        width: 40%;
    }

    section#minhas_skills div#habilidades p {
        width: 15rem;
    }

    section#minhas_skills {
        gap: 4rem;
        height: 100%;
        padding-bottom: 4rem;
    }

    section#minhas_skills div#skill_box div.tecnologia #javascript{
        font-size: 1.2rem;
    }

    [data-anime="right"] {
        transform: translate3d(10px, 0, 0);
    }

    section#contate_me {
        height: 100%;
        padding-bottom: 4rem;
    }

    div#meios_contato {
        flex-direction: column;
    }

    section#projetos {
        height: 100%;
        padding-bottom: 4rem;
    }

    section#projetos div#cards {
        flex-direction: column;
    }

    section#projetos .wrapper {
        width: 80vw;
    }

    section#projetos .wrapper .wrapper_img {
        width: 100%;
    }
}